@import "glitch.css";

@font-face {
    src: url(../fonts/sans.ttf);
    font-family: 'sans';
}

@font-face {
    src: url(../fonts/papyrus.ttf);
    font-family: 'papyrus';
}

@font-face {
    src: url(../fonts/determination.woff);
    font-family: 'determination';
}

body {
    background-color: #000;
    font-family: 'determination',sans-serif;
}

.loader {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 300ms ease;
}

.loader-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

.fade_in {
    opacity: 1!important;
}

.fade_out {
    opacity: 0!important;
}

.container {
    position: relative;
    height: 100vh;
}

.character {
    position: relative;
    max-width: 600px;
    margin:  0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.character img {
    position: relative;
    left: -30px;
}

.character.papyrus {
    position: absolute;
    right: 50%;
    transform: translate(-50%);
}

.scenario {
    transition: opacity 300ms ease;
}

.scenario.choice {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
    margin: 30px auto!important;
}

.message-to-player {
    border: 3px solid #fff;
    color: #fff;
    text-align: left;
    font-size: 28px;
    padding: 15px 20px;
    height: 200px;
    max-width: 700px;
    margin: 0 auto;
}

.player-info {
    color: #fff;
    text-align: left;
    font-size: 22px;
    padding: 10px 0;
}

.player-name {
    padding-right: 20px;
}

.player-lv {
    padding-right: 30px;
}

.hp-level::before {
    content: 'HP ';
    font-size: 18px;
    border-right: 20px solid #ffff01;
    margin-right: 10px;
}

.decision-box button {
    color: #d2783a;
    border: 3px solid #d2783a;
    background-color: transparent;
    font-size: 40px;
    padding: 0 5px;
    width: 125px;
    text-align: right;
    position: relative;
}

.decision-box button:hover, .decision-box:focus {
    color: #dbda38;
    border-color: #dbda38;
}

.decision-box button:hover img, .decision-box:focus img {
    display: none;
}

.decision-box button:hover::before, .decision-box button:focus::before {
    content: '';
    position: absolute;
    background: url(../img/heart.png) no-repeat center center;
    background-size: cover;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.decision-box img {
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.speech {
    display: none;
    position: absolute;
    left: calc(50% + 180px);
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 18px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 220px;
}

.speech.active {
    display: block;
}

.speech::after {
    content: '';
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    line-height: 0;
}

.sans {
    opacity: 0;
}

.sans .speech::after {
    left: -20px;
    border-right: 20px solid #FFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.papyrus .speech::after {
    right: -20px;
    border-left: 20px solid #FFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.papyrus .speech {
    font-size: 16px;
    padding: 20px 12px;
    left: calc(50% + 160px);
}

.speech .text-container {
    line-height: 1;
}

.sans .speech {
    font-family: 'sans',cursive;
}

.papyrus .speech {
    font-family: 'papyrus',cursive;
}

.sans {
    transition: opacity 300ms ease;
}

svg {
    width: 600px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: black;
}


/* TYPEWRITER EFFECT */
/*.typewriter {
    display: block;
    overflow: hidden; /* Ensures the content is not revealed until the animation
    border-right: .20em solid #fff; /* The typwriter cursor
    white-space: nowrap; /* Keeps the content on a single line
    margin: 0 auto; /* Gives that scrolling effect as the typing happens
    letter-spacing: .20em; /* Adjust as needed
    animation:
            typing 1s steps(40, end),
            blink-caret .75s step-end infinite;
    line-height: 1;
}

/* The typing effect
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
}*/

@-webkit-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.loading span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

.loading span:nth-child(2) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
}

.loading span:nth-child(3) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}

